# Copyright (c) 2009-2012, 2014-2015, The Linux Foundation. All rights reserved.
# Updated for Android 11+ TWRP with FBE/ICE decryption support
#

import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    mkdir /system/bin
    mkdir /system/etc
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on boot
    setprop sys.usb.config adb

on post-fs
    start hwservicemanager

on post-fs-data
    start sbinqseecomd

# QSEE daemon - needed for keymaster/gatekeeper to talk to TEE
service sbinqseecomd /system/bin/qseecomd
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    class early_hal
    user root
    group root readproc
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service-qti
    class early_hal
    user system
    group system drmrpc
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /system/bin/android.hardware.keymaster@4.1-service-qti
    class early_hal
    user system
    group system drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:twrp.modules.loaded=true
    start sbinqseecomd

on property:vendor.sys.listeners.registered=true
    start keymaster-4-1
    start gatekeeper-1-0