# Nubia Red Magic 3 (NX629J) recovery init
# Android 11 CN ROM - FBE/ICE decryption
#
# Service definitions come from the TWRP qcom common tree:
#   import /init.recovery.qcom_decrypt.rc
#   import /init.recovery.qcom_decrypt.fbe.rc
#

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    # QSEECOM and ION permissions (needed for keymaster/gatekeeper)
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    # Create qseecomd symlink (Android 10+ uses vendor.qti name)
    symlink /system/bin/vendor.qti.hardware.qseecom@1.0-service /system/bin/qseecomd

on boot
    setprop sys.usb.config adb

on post-fs-data
    # Tell the qcom_decrypt scripts we use keymaster 4.1
    setprop keymaster_ver 4.1

# USB gadget config (for ADB in recovery)
on property:sys.usb.configfs=1
    mkdir /config/usb_gadget/g1 0770 shell shell
    write /config/usb_gadget/g1/bcdUSB 0x0200
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0xd001
    mkdir /config/usb_gadget/g1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    write /config/usb_gadget/g1/os_desc/use 1
    write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
    write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"

on property:sys.usb.ffs.ready=1 && property:sys.usb.configfs=1
    mkdir /config/usb_gadget/g1/configs/b.1 0777 shell shell
    symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb"
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
